[Unit]
Description=OpenVPN Docker Container
After=network.target docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/vpn/vpn
RestartSec=10
Restart=always
ExecStart=/usr/bin/docker-compose run --rm vpnserver runvpn

[Install]
WantedBy=multi-user.target
